{% extends 'instagram/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h4 class="text-center mb-3 mt-3">Notifications</h4>
        <hr>  
        {% for notification in notifications %}
          <div class="d-flex align-items-center mb-3">
            <img src="{{notification.sender.profile.profile_picture.url}}" alt="Profile Picture" class="mr-3 rounded-circle" style="max-width: 50px;">
            <div class="flex-grow-1">
              <p class="mb-0"><b>{{ notification.sender }}</b> liked your post.</p>
            </div>
            <div class="ml-3">
              <a href="{% url 'instagram:view_post' notification.post.id %}" class="btn btn-primary btn-sm" style="border-radius: 20px;">View post</a>
            </div>
          </div>
        {% endfor %}    

        {% for noticomment in noticomments %}
          <div class="d-flex align-items-center mb-3">
            <img src="{{noticomment.sender.profile.profile_picture.url}}" alt="Profile picture" class="mr-3 rounded-circle" style="max-width: 50px;">
            <div class="flex-grow-1">
              <p class="mb-0"><b>{{ noticomment.sender }}</b> commented on your post.</p>
            </div>
            <div class="ml-3">
              <a href="{% url 'instagram:view_post' noticomment.post.id %}" class="btn btn-primary btn-sm" style="border-radius: 20px;">View post</a>
            </div>
          </div>
        {% endfor %}

        {% for notifollow in notifollows %}
          <div class="d-flex align-items-center mb-3">
            <img src="{{notifollow.sender.profile.profile_picture.url}}" alt="Profile picture" class="mr-3 rounded-circle" style="max-width: 50px;">
            <div class="flex-grow-1">
              <p class="mb-0"><b>{{ notifollow.sender }}</b> started following you.</p>
            </div>
          </div>
        {% endfor %} 

        <form action="{% url 'instagram:clear_notifications' %}" method="POST">
          {% csrf_token %}
          <p style="text-align: center;">
            <button type="submit" class="btn btn-danger" 
              style="position: fixed; left: 50%; bottom: 10px; transform: translate(-50%, -50%); margin: 0 auto; border-radius: 20px;">Clear notifications</button>
          </p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


<!-- {% for profile in profiles %}

<div class="single-user-container mt-3">
  <a class="text-decoration-none user" href="{%url 'instagram:user_profile' username=profile.user.username %}">
    <div class="image">
      <img src="{{profile.profile_picture.url}}" alt="" />
    </div>
    <div class="user_name mb-2">{{profile.user.username.capitalize}}</div>
  </a>
</div>
<hr />
{%empty%}
<h4 class="text-center">No user found search-term {{message}}</h4>
{% endfor %} -->
